# Backend
DB_URL=jdbc:mysql://mysql:3306/security_alert?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=sp_user
DB_PASSWORD=sp_password
JWT_SECRET=tu_jwt_secret_aqui
JWT_EXPIRATION=3600000
FRONT_URL=http://localhost:5173
SWAGGER_ENABLED=true

# Frontend
VITE_API_URL=http://localhost:8080/api/v1
# En .env use $$ para cada $ literal (Docker Compose interpreta $VAR)
VITE_CRYPTO_SECRET_KEY=tu_crypto_secret_key_aqui

# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=security_alert
MYSQL_USER=sp_user
MYSQL_PASSWORD=sp_password

# PhpMyAdmin
PMA_HOST=mysql
PMA_PORT=3306

# MQTT 
MQTT_BROKER_URL=tcp://00000000:1883
MQTT_CLIENT_ID=zona1
MQTT_TOPICS=jardin/#
MQTT_USERNAME=user
MQTT_PASSWORD=paswsd